*.iml
.gradle/
.idea/
.kotlin/
**/build/
/build
/captures
.externalNativeBuild
.cxx
local.properties
.DS_Store
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
*.log
.cxx/
*.hprof
.vscode/
*.keystore
!debug.keystore